
#banner {
  background: linear-gradient(45deg, #F44336, #FFC107);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1.4rem;
  }
}